body {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;   
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(MYMELODY1.jpg);  
}

.form-container {
    background-color: #f77fa7; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(182, 170, 61, 0.1); 
    padding: 30px;
    width: 300px; 
    text-align: center; 
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #864e68;
}

select, input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #8d083b;
    width: 100%;
    margin-bottom: 15px; 
}

button {
    padding: 10px 0;
    background-color: #ec6592;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #eb0a55;
}